

.container {
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    
  }

  .blur {
    width: 100%;
    height: 100%;
    position: fixed;
    backdrop-filter: blur(1px);

  }
  
  .box {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .overlay {
    color: white;
    font-size: 10em;
    width: 100%;
    height: 100%;
  }

  .content{
    margin: 0 auto;
    font-family: Inter;
    backdrop-filter: blur(0px);
  }

  .quote-content{
    color: white;
    margin: 0 auto;
    font-family: Inter;
    box-shadow: 0px 0px 50px 20px rgba(39, 39, 39, 0.65);
    background-color: rgba(39, 39, 39, 0.47);
  }

  .banner {
    display: flex;
    padding: 1em;
    flex-direction: column;
    gap: 0.65px;
}

.title {
  color: white;
  font-size: 4em;
  font-weight: 400;
}

.Dys-image {
  animation: 1s ease-out 0s 1 slideInMiddle;
  width: 100%;
  flex-shrink: 0;
  object-fit: cover;
  background-color: rgba(39, 39, 39, 0.47);
  box-shadow: 0px 0px 50px 20px rgba(39, 39, 39, 0.65);


}



.body {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  object-fit: cover;
}

.quote-content {
  backdrop-filter: blur(2px);
}
#banner {
    grid-area: ban;
}

#body {
    grid-area: bod;
}

#quote-1 {
    grid-area: qu1;
}

#quote-2 {
  grid-area: qu2;
}

#Dys1 {
    grid-area: dy1;
}

#Dys2 {
    grid-area: dy2;
}

#Dys3 {
    grid-area: dy3;
}

#Dys4 {
    grid-area: dy4;
}

#Dys5 {
    grid-area: dy5;
}

#Dys6 {
    grid-area: dy6;
}

.content {
    display: grid;
    column-gap: 1em;
}
  
.content {
    grid-template:
    "ban ban ban ban" minmax(6em, auto)
    " .   .   .   . " minmax(2em, auto)
    "tm1 tm1 tm1 tm1" minmax(30em, auto)
    " .   .   .   . " minmax(2em, auto)
    "tm2 tm2 tm2 tm2" minmax(30em, auto)
    " .   .   .   . " minmax(2em, auto)
    "tm3 tm3 tm3 tm3" minmax(30em, auto)
    " .   .   .   . " minmax(4em, auto)
    "oct oct oct oct" minmax(6em, auto)
    " .   .   .   . " minmax(2em, auto)
    "ci1 ci1 ci2 ci2"minmax(8em, auto)
    "ci3 ci3 ci4 ci4" minmax(8em, auto)
    "ci5 ci5 ci6 ci6" minmax(8em, auto)
    "ci7 ci7 ci8 ci8" minmax(8em, auto)



}

@media (min-width: 50em){
    .content {
            grid-template:
            "ban ban ban ban ban ban ban ban" minmax(8em, auto)
            " .   .   .   .   .   .   .   . " minmax(2em, auto)
            "tm1 tm1 tm1 tm1 tm3 tm3 tm3 tm3" minmax(30em, auto)
            " .   .   .   .   .   .   .   . " minmax(2em, auto)
            " .   .  tm2 tm2 tm2 tm2  .   . " minmax(30em, auto)
            " .   .   .   .   .   .   .   . " minmax(4em, auto)
            "oct oct oct oct oct oct oct oct" minmax(6em, auto)
            " .   .   .   .   .   .   .   . " minmax(2em, auto)
            "ci1 ci1 ci1 ci1 ci2 ci2 ci2 ci2" minmax(14em, auto)
            "ci3 ci3 ci3 ci3 ci4 ci4 ci4 ci4"minmax(14em, auto)
            "ci5 ci5 ci5 ci5 ci6 ci6 ci6 ci6" minmax(14em, auto)
            "ci7 ci7 ci7 ci7 ci8 ci8 ci8 ci8" minmax(14em, auto)
    }
}

@media (min-width: 75em){
    .content {
        grid-template:
     " .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   . " minmax(2em, auto)
     " .   .  ban ban ban ban ban ban ban ban ban ban ban ban ban  . " minmax(8em, auto)
     " .   .   .   .   .  bod bod bod bod bod bod  .   .   .   .   . " minmax(6em, auto)
     " .  dy1 dy1 dy1  .  bod bod bod bod bod bod  .   .   .   .   . " minmax(6em, auto)
     " .  dy1 dy1 dy1  .  bod bod bod bod bod bod  .  dy4 dy4  .   . " minmax(8em, auto)
     " .   .   .   .   .  bod bod bod bod bod bod  .  dy4 dy4  .   . " minmax(2em, auto)
     " .   .  dy2 dy2 dy2 bod bod bod bod bod bod  .   .   .   .   . " minmax(4em, auto)
     " .   .  dy2 dy2 dy2 bod bod bod bod bod bod dy5 dy5 dy5 dy5 dy5" minmax(2em, auto)
     " .  dy3 dy3  .   .  bod bod bod bod bod bod dy5 dy5 dy5 dy5 dy5" minmax(4em, auto)
     " .  qu1 qu1 qu1 qu1 bod bod bod bod bod bod dy5 dy5 dy5 dy5 dy5" minmax(8em, auto)
     " .  qu1 qu1 qu1 qu1 bod bod bod bod bod bod qu2 qu2 qu2 qu2  . " minmax(1em, auto)
     " .  qu1 qu1 qu1 qu1 bod bod bod bod bod bod dy6 dy6 dy6  .   . " minmax(12em, auto)
     " .   .   .   .   .  bod bod bod bod bod bod  .   .   .   .   . " minmax(6em, auto)
    }
}
